<nav
    class="bd-subnavbar py-2 fixed-top"
    style="background-color: #213344;"
>
    <div
        class="container"
        style="max-width: 550px;"
    >
        <div class="row">

            <div class="col">
                <h5 style="color:#fff">
                    <span class="hl">y</span>et <span class="hl">a</span>nother <span class="hl">u</span>ser
                    <span class="hl">s</span>tory <span class="hl">g</span>enerator
                </h5>
            </div>

        </div>

    </div>

</nav>

<div
    class="btn"
    (click)="_.setDE()"
>DE</div>
<div
    class="btn"
    (click)="_.setEN()"
>EN</div>
<div
    class="container mt-4 mb-4 pb-4 "
    style="max-width: 550px;"
>
    <div class="row ">
        <div class="col">
            <div
                class="generatorform "
                [ngClass]="{'out': dialog.length > 0}"
            >
                <div class="row">
                    <div class="col">
                        <h2>{{_.get().STORY.prefix}}</h2>
                    </div>


                    <div class="col-auto">
                        <div class="col-auto">
                            <span
                                class="lang  p-2"
                                [ngClass]="{'active': _.get().LANG_KEY =='de'}"
                                (click)="_.setDE();resetUSGButtons()"
                            >DE</span>
                            <span
                                class="lang p-2"
                                [ngClass]="{'active': _.get().LANG_KEY =='en'}"
                                (click)="_.setEN();resetUSGButtons()"
                            >EN</span>
                        </div>
                    </div>
                </div>
                <div
                    class="inputBox"
                    *ngFor="let key of _.get().STORY.keys; let i = index"
                >

                    <ng-container *ngIf="key.split('|').length == 1">
                        <textarea
                            style="min-height: 48px; resize: none;"
                            autosize
                            autocomplete="off"
                            type="text"
                            [id]="'textarea_'+i"
                            required="required"
                            [value]=""
                        ></textarea>
                        <i class="ri-message-2-fill "></i>
                        <span>{{key}}</span>
                    </ng-container>
                    <ng-container *ngIf="key.split('|').length > 1">
                        <ng-container *ngFor="let option of key.split('|'); let j = index">
                            <textarea
                                class="d-none"
                                *ngIf="j == 0"
                                [value]="option"
                                [id]="'textarea_'+i"
                            ></textarea>
                            <div
                                class="btn  btn-usg"
                                [id]="'btn-usg_'+i+'_'+j"
                                (click)="usgButtonClick(i,j,option)"
                            >{{option}}</div>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="inputBox text-end">
                    <input
                        style="margin-left:auto"
                        (click)="requestAStoryBtn()"
                        type="submit"
                        [ngStyle]="{'disabled': this.loading}"
                        [value]="_.get().SEND_BTN"
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <ng-container *ngFor="let item of dialog; let i = index">
            <div class="row mb-4 ">
                <div class="col">
                    <app-dialog-bubble [item]="item"></app-dialog-bubble>
                    <ng-container *ngIf="!item.buttons">
                        <div [ngClass]="{'bot me-4': item.who == 'bot',
                            'me  ms-4': item.who == 'me'}">
                            <span [innerHTML]="item.message"></span>
                            <ng-container *ngIf="item.who == 'bot'">
                                <ng-container *ngIf="loading && i == dialog.length-1">
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </ng-container>


                                <div
                                    class="row mt-4"
                                    *ngIf="item.buttonGroup?.buttons"
                                >
                                    <div
                                        class="col"
                                        [ngClass]="{'col-12 mb-1': item.buttonGroup?.layout == 'full'}"
                                        *ngFor="let btn of item.buttonGroup?.buttons"
                                    >
                                        <a
                                            class="btn btn-sm btn-primary d-block"
                                            [href]="btn.url"
                                            target="_blank"
                                        >{{btn.text}}</a>
                                    </div>
                                </div>
                                <span [innerHTML]="item.messageSubFix"></span>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item.buttons">
                        <div class="text-end me-btns">
                            <ng-container *ngFor="let btn of item.buttons">

                                <span
                                    class="btn-me"
                                    (click)="buttonAction(btn.name, btn.action)"
                                >{{btn.name}}</span>
                            </ng-container>
                        </div>
                    </ng-container>

                </div>
            </div>
        </ng-container>
    </div>
</div>