.generatorform {
  animation: bounceInDown;
  animation-duration: 1s;
  height: 500px;
  opacity: 1;
  
 
  &.out { 
    pointer-events: none;
    animation: backOutUp;
    animation-duration: 2s;
    height: 0px;
    opacity: 0;
    transition: height 1.5s ease, opacity 1s linear;

  }

 

        & * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Poppins' sans-serif;
    }
 h2 { color:#fff;
padding-bottom:10px;
padding-left: 20px;
}
    .inputBox {
        
        position: relative;
        margin-bottom: 20px;
        & textarea, & input {
            width: 100%;
            padding: 12px 10px 12px 48px; 
            border: none;
            background: #223243;
            border:1px solid rgba(0,0,0,0.1);
            color: #fff;
            border-radius: 25px;
            box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35);
            
            &:focus ~ span , &:valid ~ span {
                color:#00dfc4;
                transform: translateX(-25px) translateY(-5px);
                padding: 0 8px;
                border:1px solid #00dfc4;
                border-radius: 10px;
                font-size: 0.6em;
                background-color: #223243;

            }
        }
        & input[type='submit']{
            background-color: #00dfc4;
            color: #000;
            width: auto;
            padding: 12px 48px ; 
            margin: 0px auto;
        }
        & span {
            position: absolute;
            left:0;
            pointer-events: none;
            color:#fff;
            padding: 12px 10px 12px 0px;
            font-size: 1em;
            font-weight: 300;
            transition: 0.5s;
            margin-left: 48px;
            
        } 
        & i {
            color:#00dfc4;
            border-right: 1px solid #00dfc4;
            padding-right: 10px;
            position:absolute;
            top:15px;
            left:15px;
        }

    }


}
.dialog{
  position: relative;
  z-index: 999
}
.bot {
    margin-right: 10vw;
    border-radius: 25px;
    border:1px solid  #00dfc4;
    color: #fff;
    padding: 12px 48px ;  
    border-bottom-left-radius: 0px;
    animation: fadeInLeft;  
    animation-duration: 0.5s;
}
.me{
    margin-left: 10vw;
    border-radius: 25px;
    background-color: #00dfc4;
    padding: 12px 48px ;  
    animation: fadeInRight;  
    animation-duration: 0.5s;
    border-bottom-right-radius: 0px;
}
.me-btns {animation: fadeInRight; 
  
  animation-duration: 0.5s;}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

  


.btn-me{
  display: inline-block;
  &:hover{
    background-color: rgba(0, 223, 196,1);
    color: #000;
  }

  background-color: rgba(0, 223, 196,0.1);
  border-color: rgba(0, 223, 196);
  border-width: 1px !important;
  border-style: solid;
  border-radius: 25px;
  cursor: pointer;
  color:rgba(0, 223, 196);
  width: auto;
  padding: 6px 24px;
  margin: 2px 2px;
  word-break: break-all;
  
}