<div
    class="container mt-4 mb-4 pb-4 "
    style="max-width: 550px;"
>
    <div class="row ">
        <div class="col">
            <div
                class="generatorform "
                [ngClass]="{'out': dialog.length > 0}"
            >
                <h2>{{demoStory.prefix}}</h2>
                <div
                    class="inputBox"
                    *ngFor="let key of demoStory.keys; let i = index"
                >
                    <textarea
                        style="min-height: 48px; resize: none;"
                        autosize
                        autocomplete="off"
                        type="text"
                        [id]="'textarea_'+i"
                        required="required"
                        [value]=""
                    ></textarea>
                    <i class="ri-message-2-fill "></i>
                    <span>{{key}}</span>
                </div>
                <div class="inputBox text-end">
                    <input
                        style="margin-left:auto"
                        (click)="requestAStoryBtn()"
                        type="submit"
                        [ngStyle]="{'disabled': this.loading}"
                        value="Formuliere eine Userstory"
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <ng-container *ngFor="let item of dialog; let i = index">
            <div class="row mb-4 ">
                <div class="col">
                    <app-dialog-bubble [item]="item"></app-dialog-bubble>
                    <ng-container *ngIf="!item.buttons">
                        <div [class]="item.who">
                            <span [innerHTML]="item.message"></span>
                            <ng-container *ngIf="item.who == 'bot'">
                                <ng-container *ngIf="loading && i == dialog.length-1">
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </ng-container>
                                <span [innerHTML]="item.messageSubFix"></span>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item.buttons">
                        <div class="text-end me-btns">
                            <ng-container *ngFor="let btn of item.buttons">

                                <span
                                    class="btn-me"
                                    (click)="buttonAction(btn.name, btn.action)"
                                >{{btn.name}}</span>
                            </ng-container>
                        </div>
                    </ng-container>

                </div>
            </div>
        </ng-container>
    </div>
</div>